// Reset some properties
html,
body,
div,
section,
article,
aside,
p,
h1, h2, h3, h4, h5, h6,
input,
ul,
form {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: $sb-background-color;
}

// Flex classes
.sb-flex {
  display: flex;

  .sb-flex--center-y {
    align-items: center;
  }
}

// Forms
.sb-field {
  margin-bottom: 15px;
}

.sb-form__error {
  color: $sb-color-red;
  font-size: 12px;
  font-family: $sb-font--semi;
}

