@font-face {
  font-family: "OpenSans-Regular";
  src: url("/assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("/assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("/assets/fonts/OpenSans-Light.ttf");
}

body {
  color: $sb-text-color--dark;
  font-family: $sb-font--regular;
}

a {
  text-decoration: none;
  transition: color .5s;
}