$sb-background-color: #f5f6fa;
$sb-text-color--dark: #222222;
$sb-text-color--middle: #464646;
$sb-text-color--light: #c6c6c6;
$sb-text-color--blue: #018fff;

$sb-color-white: #FFF;
$sb-color-blue: #01a3ff;
$sb-color-pink: #ffdef3;
$sb-color-pink--dark: #e364c3;